.float-container {
    border: 3px solid #fff;
    padding: 20px;
}

.float-child {
    width: 50%;
    float: left;
    padding: 20px;
    border: 2px solid white;
} 

.footer{
    width:100%;
    padding:10px;
    background-color: white;
    background-image: url('../img/map-dots.png');
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    line-height: 2;
    
    }
    .footer{
    width:100%;
    padding:10px;
    }
    
    .footer{
    display:table;
    color: white;
    padding:10px;
    font-size:18px;
    }
    
    .footer{
    padding:10px;
    color:white;
    }
    
    .footer{
    color:white;
    font-size:13px;
    }
    
    .footer{
    content: "\f00c";
    font-family: "FontAwesome";
    padding-left: 5px;
    font-size: 10px;
    color: white;
    }
    .footer{
        padding-left: 5px;
        font-size: 12px;
        color: white;
    }