@font-face {
    font-family: 'IranNastaliq';
    src: url('../fonts/IranNastaliq.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'B Zar';
    src: url('../fonts/B\ Zar.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Shoeibi';
    src: url('../fonts/ShoeibiFont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

#emblem {
    font-family: 'Shoeibi';
    font-size: 75pt;
}

.parallax {
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.typing-container {
    min-height: 2.5rem;
}

.hndlbtns {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-family:  'Inter', 'B Zar', 'Roboto', sans-serif; 
    text-transform: uppercase; 
    letter-spacing: 0.05em; 
}

.hndlbtns:hover {
    --glow-color: rgba(139, 92, 246, 0.5);
    --glow-spread: 0 0 15px 5px var(--glow-color);
    box-shadow: var(--glow-spread);
}

.shadow-glow {
    box-shadow: 0 0 15px 5px rgba(139, 92, 246, 0.5);
}


@media (max-width: 640px) {
    .hndlbtns {
        padding: 20pt 20pt 20pt 20pt;
        font-size: 0.875rem; 
    }
}

html {
    scroll-behavior: smooth;
}

div#fa {
    font-family: 'B Zar';
}
